// color
$white: #ffffff;
$mercury: #e5e5e5;
$denim: #116acc;
$athensGray: #f3f4f6;
$black: #000000;
$mirage: #182233;
$paleSky: #6b7280;
$grayChateau: #9ca3af;
$paleCornflowerBlue: #a0c3ff;
$nightRider: #374151;
$mantis: #76ca66;
$radicalRed: #fd4e5d;
$paleCornflowerBlue: #a0c3ff;
